In [4]:
import pandas as pd
import numpy as np
from functions import query_sqlite_database

In [8]:
db_path = './Data/movies.db'

In [9]:
movies_df = query_sqlite_database("SELECT * FROM movies;", db_path)
movies_df

,id,title,release_date,original_language,adult,video,popularity,vote_average,vote_count
0,18,The Fifth Element,1997-05-02 00:00:00.000000,en,0,0,65.800,7.542,10257
1,123,The Lord of the Rings,1978-11-15 00:00:00.000000,en,0,0,36.738,6.567,818
2,194,Amélie,2001-04-25 00:00:00.000000,fr,0,0,32.614,7.907,11040
3,423,The Pianist,2002-09-17 00:00:00.000000,en,0,0,55.404,8.383,8696
4,598,City of God,2002-08-30 00:00:00.000000,pt,0,0,36.640,8.434,6951
...,...,...,...,...,...,...,...,...,...
1789,1250266,1001 Cuts,2024-02-25 00:00:00.000000,en,0,0,1.960,0.000,0
1790,1250275,Harta Cutrura,2024-03-01 00:00:00.000000,en,0,0,1.960,0.000,0
1791,1250276,Cochilo,2024-02-25 00:00:00.000000,en,0,0,1.960,0.000,0
1792,1250290,Double Feature at the Sunset Drive-In,2024-02-25 00:00:00.000000,en,0,0,1.960,0.000,0
1793,1250307,Never Kill a Femboy on the First Date,2024-02-24 00:00:00.000000,en,0,0,1.960,0.000,0

In [10]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1794 entries, 0 to 1793
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 1794 non-null   int64
 1   title              1794 non-null   object
 2   release_date       1794 non-null   object
 3   original_language  1794 non-null   object
 4   adult              1794 non-null   object
 5   video              1794 non-null   object
 6   popularity         1794 non-null   float64
 7   vote_average       1794 non-null   float64
 8   vote_count         1794 non-null   int64
dtypes: float64(2), int64(2), object(5)
memory usage: 126.3+ KB

In [11]:
query_sqlite_database("PRAGMA table_info(movies)", db_path)

   cid               name     type  notnull dflt_value  pk
0    0                 id  INTEGER        1       None   1
1    1              title     TEXT        0       None   0
2    2       release_date     DATE        0       None   0
3    3  original_language  CHAR(2)        0       None   0
4    4              adult     TEXT        0       None   0
5    5              video     TEXT        0       None   0
6    6         popularity    FLOAT        0       None   0
7    7       vote_average    FLOAT        0       None   0
8    8         vote_count  INTEGER        0       None   0